.restaurant {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .left {
    width: 100%;
    text-align: center;
  }
  
  .center {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .review-button {
    margin-top: 1em;
  }
  